body {
    margin:10px;
    font-family:Segoe UI,arial,sans-serif;
    font-size:10pt;
    background-color:white;
    color:#9C9898;
    min-width: 295px;
}
    
td {
    vertical-align:top;
}
    
h1,h2,h3 {
    margin-top:5px;
    margin-bottom:5px;
}
    
li {
    padding:3px;
}

a{
    font-weight:bold;
    color:#9C9898;
}
    
a:hover{
    text-decoration:none;
}
    
.longbutton{
    margin-bottom:2px;
    margin-left:12px;
    font-family:Segoe UI,arial,sans-serif;
    font-size:12pt;font-weight:bold;
    text-align:center;color:White;
}
    
textarea{
    font-family:inherit;
    font-size:inherit;
}

.centerframer{
    margin-right:auto;
    margin-left:auto;
    border-width:1px;
    border-color:Gray;
    border-style:solid;
}

.center{
    margin-right:auto;
    margin-left:auto;
}

.datatable{
    width:100%;
}

.fullframer{
    width:100%;
    border-top-width:1px;
    border-top-color:Gray;
    border-top-style:solid;
    margin-top:3px;
    margin-bottom:3px;
    padding:2px;
}

.menubutton{
    height:20px;
    background-color:#053b5f;
    -webkit-border-top-left-radius:2px;
    -moz-border-radius-topleft:2px;
    border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;        
    -moz-border-radius-topright:2px;
    border-top-right-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    -moz-border-radius-bottomright:2px;
    border-bottom-right-radius:2px;
    -webkit-border-bottom-left-radius:2px;
    -moz-border-radius-bottomleft:2px;
    border-bottom-left-radius:2px;
    margin-right:10px;
    font-family:Segoe UI,arial,sans-serif;
    font-size:10pt;
    font-weight:bold;
    text-align:center;
    color:White;
    text-decoration:none;
    padding-top:2px;
    padding-left:4px;
    padding-right:4px;
    display:inline-block;
    cursor:pointer;
}

.mainmenubutton{
    background-color:#053b5f;
    margin:5px;
    font-family:Segoe UI,arial,sans-serif;
    font-size:9pt;
    color:White;
    text-decoration:none;
    padding-top:2px;
    padding-left:4px;
    padding-right:4px;
    display:inline-block;
    cursor:pointer;
    vertical-align:top;
    border-style:solid;
    border-width:1px;
    border-color:white;
}

.mainmenubutton:hover{
    border-color:black;
    border-width:1px;
}
.content{
    padding:0px;
    margin:0px;
}
.genbutton{
    height:20px;
    background-color:#053b5f;
    margin-top:4px;
    margin-right:10px;
    font-family:Segoe UI,arial,sans-serif;
    font-size:10pt;
    font-weight:bold;
    text-align:center;
    color:White;
    text-decoration:none;
    padding-left:3px;
    padding-right:3px;
    display:inline-block;
    cursor:pointer;
}
.bigbutton{
    height:30px;
    background-color:#053b5f;
    margin-top:4px;
    margin-right:10px;
    font-family:Segoe UI,arial,sans-serif;
    font-size:10pt;
    font-weight:bold;
    text-align:center;
    color:White;
    text-decoration:none;
    padding-left:6px;
    padding-right:6px;
    display:inline-block;
    cursor:pointer;
}
.warningbox{
    margin:5px;
    font-family:Segoe UI,arial,sans-serif;
    font-size:9pt;
    background-color:#fcf7b6;
    border-color:#d7d889;
    border-style:solid;
    border-width:1px;
    min-height:29px;
    padding-top:6px;
    padding-left:4px;
    padding-right:4px;
}
.infobox{} 


#divConf {
    width:100%;
    height:calc(100vh - 100px);            
}
#panConfigurator {
    width: 100%;
    min-height: calc(100% - 60px);
    height: auto;
    
}
.confPanel {
    width: 100%; 
    margin:10px 5px;
}
.divCell {
    display: inline-table;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
#grdBOM {
    height: calc(100% - 30px);
}

#config{
/* width: 350px; */
width: 42vw;
/* background-color: blue; */
}


/* Notifications */
.k-notification h3 {
    padding: 10px 10px 5px;
    font-size: 1em;
    line-height: normal;
}

/* Success template */
.upload-success {
    /* display: flex;
    align-content: center;
    vertical-align: middle; */
    width: auto;
    height: auto;
}        

@media (min-width: 1204px) {
    .confPanel {
        width:49%;
        display:inline-table;
        height:100%;
        overflow:hidden;
    }

}

@media (max-width: 1204px) {
    #grdBOM {
    height: calc(auto - 20px);
    margin-bottom: 80px;
    }
    #config{
    width: 38vw;
    /* background-color: red; */
    }

    #config h1{
    font-size: 25px;
    }

}


@media (max-width: 420px) {
    #config{
    width: auto;
    /* background-color: yellowgreen; */
    }
    
    #config h1{
    font-size: 6vw;
    padding: 0px;
    margin-right: 10px;
    margin-bottom: 5px;
    }
    #config small{
    font-size: 3vw;
    }
    #imgLogo {
    width: 35vw;
    padding: 0px;
    vertical-align: middle;
    }
    .mainmenubutton {
    font-size: 3.5vw;
    }
}

.selectionContainer {
    display: flex !important;
}


.div1 {
    /* background-color: pink; */
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2px;
    flex-wrap: wrap;
}


.div2 {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    padding: 2px;
    margin: 2px;
    /* background-color: peachpuff; */
    width: 10%;
    min-width: 45px;
}
